API_PLAYLIST_URL=https://{baseURL}/api/playlist/local/view/
API_DOWNLOAD_URL=https://{baseURL}/v1/
SONGS_DIR=/data/songs
DATA_DIR=/data/song_data
TEMP_DIR=/data/temp
RADIO_CHANNEL_ID=
PINE=
NETWORK_ID=
NETWORK_CODE=
LOCAL_ID=
EDITOR_UPLOAD_TOKEN=
SOCKET_AUTH_TOKEN=
